@model Garage3._0.Models.Entities.ParkedVehicle

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class="wrapper">
    <h4>ParkedVehicle</h4>
    <hr />
    <dl class="row">
        <dt class = "width-helper">
            @Html.DisplayNameFor(model => model.VehicleType.VehicleTypeName)
        </dt>
        <dd class="width-helper">
            @Html.DisplayFor(model => model.VehicleType.VehicleTypeName)
        </dd>
        <dt class="width-helper">
            @Html.DisplayNameFor(model => model.RegistrationNumber)
        </dt>
        <dd class="width-helper">
            @Html.DisplayFor(model => model.RegistrationNumber)
        </dd>
        <dt class="width-helper">
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class="width-helper">
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt class="width-helper">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd class="width-helper">
            @Html.DisplayFor(model => model.Brand)
        </dd>
        <dt class="width-helper">
            @Html.DisplayNameFor(model => model.VehicleModel)
        </dt>
        <dd class="width-helper">
            @Html.DisplayFor(model => model.VehicleModel)
        </dd>
        <dt class="width-helper">
            @Html.DisplayNameFor(model => model.Wheel)
        </dt>
        <dd class="width-helper">
            @Html.DisplayFor(model => model.Wheel)
        </dd>
        <dt class="width-helper">
            @Html.DisplayNameFor(model => model.ArrivalTime)
        </dt>
        <dd class="width-helper">
            @Html.DisplayFor(model => model.ArrivalTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="tiny-button">Edit</a>
    <a asp-action="Overview" class="tiny-button red">&larr; Back to List</a>
</div>
