@model Garage3._0.Models.ViewModels.StatisticsDisplayViewModel

@{
    ViewData["Title"] = "StatisticsView";
}

<h1>Statistics</h1>

<div class="wrapper">
    <h4>View statistical data for the garage</h4>
    <hr />
    <dl class="row">
        <dt class = "width-helper">
            @Html.DisplayNameFor(model => model.Cars)
        </dt>
        <dd class="width-helper">
            @Html.DisplayFor(model => model.Cars)
        </dd>
        <dt class="width-helper">
            @Html.DisplayNameFor(model => model.Motorcycles)
        </dt>
        <dd class="width-helper">
            @Html.DisplayFor(model => model.Motorcycles)
        </dd>
        <dt class="width-helper">
            @Html.DisplayNameFor(model => model.Buses)
        </dt>
        <dd class="width-helper">
            @Html.DisplayFor(model => model.Buses)
        </dd>
        <dt class="width-helper">
            @Html.DisplayNameFor(model => model.Boats)
        </dt>
        <dd class="width-helper">
            @Html.DisplayFor(model => model.Boats)
        </dd>
        <dt class="width-helper">
            @Html.DisplayNameFor(model => model.Airplanes)
        </dt>
        <dd class="width-helper">
            @Html.DisplayFor(model => model.Airplanes)
        </dd>
        <dt class="width-helper">
            Wheels in the garage
        </dt>
        <dd class="width-helper">
            @Html.DisplayFor(model => model.Wheels)
        </dd>
        <dt class="width-helper">
            Total money earned
        </dt>
        <dd class="width-helper">
            @Html.DisplayFor(model => model.Sum)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Overview" class="tiny-button red">&larr; Back to List</a>
</div>
